@font-face {
   font-family: "Arial";
   src:
      url("../fonts/ArialBold.woff") format("woff"),
      url("../fonts/ArialBold.woff2") format("woff2");
   font-weight: 700;
   font-display: swap;
   font-style: normal;
}

@font-face {
   font-family: "Arial";
   src:
      url("../fonts/Arial-Regular.woff") format("woff"),
      url("../fonts/Arial-Regular.woff2") format("woff2");
   font-weight: 400;
   font-display: swap;
   font-style: normal;
}